<nav>
  <a class="brand" routerLink="/">
    <img src="/images/logo-itaqua.png" alt="Logo" />
    <h2>Sistema de Vendas</h2>
  </a>
  <ul class="links">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/cliente">Cliente</a>
    </li>
    <li>
      <a routerLink="/usuario">Usuário</a>
    </li>
    <li>
      <table>
      <tr><a routerLink="/produtos">Produtos</a></tr>
      <tr><a routerLink="/ncms">NCMs</a></tr>
      <tr><a routerLink="/litragem">Litragem</a></tr>
      <tr><a routerLink="/categorias">Categorias</a></tr>
      </table>
    </li>
    <li>
      <a routerLink="/about">Sobre</a>
    </li>
  </ul>
</nav>
