<h2>{{ btnText() === 'Alterar' ? 'Editar produto' : 'Novo produto' }}</h2>
<a class="voltar" href="javascript:void(0)" onclick="history.back()">Voltar</a>

<form action="" (ngSubmit)="submit()" [formGroup]="produtoForm" #formDir="ngForm">
  <div class="form-group">
    <input type="hidden" formControlName="id">


    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Digite o nome" required>
    @if (nome?.invalid && nome?.touched) {
    <div class="validation-error">
      @if (nome?.hasError('required')) {
      <p>Nome é obrigatório.</p>
      }
      @if (nome?.hasError('serverError')) {
      <p>{{ nome?.getError('serverError') }}</p>
      }
    </div>
    }


    <label for="refNf">Referência da Nota Fiscal</label>
    <input type="number" id="refNf" name="refNf" formControlName="refNf" placeholder="Digite a referência" required>
    @if (refNf?.invalid && refNf?.touched) {
    <div class="validation-error">
      @if (refNf?.hasError('required')) {
      <p>Referência da Nota Fiscal é obrigatória.</p>
      }
      @if (refNf?.hasError('serverError')) {
      <p>{{ refNf?.getError('serverError') }}</p>
      }
    </div>
    }


    <label for="ipi">IPI</label>
    <input type="number" id="ipi" name="ipi" formControlName="ipi" placeholder="Digite o IPI" required>
    @if (ipi?.invalid && ipi?.touched) {
    <div class="validation-error">
      @if (ipi?.hasError('required')) {
      <p>IPI é obrigatório.</p>
      }
      @if (ipi?.hasError('serverError')) {
      <p>{{ ipi?.getError('serverError') }}</p>
      }
    </div>
    }

    <label for="peso">Peso</label>
    <input type="number" id="peso" name="peso" formControlName="peso" placeholder="Digite o peso" required>
    @if (peso?.invalid && peso?.touched) {
    <div class="validation-error">
      @if (peso?.hasError('required')) {
      <p>Peso é obrigatório.</p>
      }
      @if (peso?.hasError('serverError')) {
      <p>{{ peso?.getError('serverError') }}</p>
      }
    </div>
    }

    <label for="qtdPorEmbalagem">Quantidade por Embalagem</label>
    <input type="number" id="qtdPorEmbalagem" name="qtdPorEmbalagem" formControlName="qtdPorEmbalagem"
      placeholder="Digite a quantidade por embalagem" required>
    @if (qtdPorEmbalagem?.invalid && qtdPorEmbalagem?.touched) {
    <div class="validation-error">
      @if (qtdPorEmbalagem?.hasError('required')) {
      <p>Quantidade por Embalagem é obrigatória.</p>
      }
      @if (qtdPorEmbalagem?.hasError('serverError')) {
      <p>{{ qtdPorEmbalagem?.getError('serverError') }}</p>
      }
    </div>
    }

    <label>Categoria:</label>
    <select formControlName="categoriaId">
      <option value="">Selecione uma categoria</option>

      <!-- Iterando sobre o seu Signal de categorias -->
      @for (cat of categorias(); track cat.id) {
      <option [value]="cat.id">{{ cat.nome }}</option>
      }
      @empty {
      <option value="" disabled selected>Nenhuma categoria cadastrada</option>
      }

    </select>

    <label>NCMs:</label>
    <select formControlName="ncmId">
      <option value="">Selecione um NCM</option>

      <!-- Iterando sobre o seu Signal de NCMs -->
      @for (ncm of ncms(); track ncm.id) {
      <option [value]="ncm.id">{{ ncm.codigo }}</option>
      }
      @empty {
      <option value="" disabled selected>Nenhum NCM cadastrado</option>
      }

    </select>

    <label>Litragem:</label>
    <select formControlName="litragemId">
      <option value="">Selecione uma litragem</option>

      <!-- Iterando sobre o seu Signal de litragens -->
      @for (lit of litragens(); track lit.id) {
      <option [value]="lit.id">{{ lit.nome }}</option>
      }
      @empty {
      <option value="" disabled selected>Nenhuma litragem cadastrada</option>
      }



    </select>
      <input type="submit" [value]="btnText()" [disabled]="isLoading()" class="btn btn-primary mt-3">
  </div>
</form>
